<!DOCTYPE html>
<html ng-app="myApp">
  <head>
	<title><%= title %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script> 
	<script src="/javascripts/myApp.js"></script>
	<script src="/javascripts/myController.js"></script>
  </head>
  <body ng-controller= "myController">
	<h1> {{jsVariable}} </h1>
</body>
</html>
